@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ************
* CUSTOM MAP 
**************/

html,
body,
#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.app-container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* .map-wrapper,
.loading-holder {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
} */
/* 
.loading-holder {
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-holder .icon {
  transform: scale(2);
  fill: rgba(1, 1, 1, 0.7);
  animation: pulse 1.5s ease-in-out infinite;
}

.loading-holder h1 {
  margin-top: 4rem;
  text-shadow: 0px 0px 10px rgba(152, 207, 195, 0.7);
} */

@keyframes pulse {
  0% {
    transform: scale(2);
  }

  50% {
    transform: scale(2.3);
  }

  100% {
    transform: scale(2);
  }
}

.viewport-panel {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  border-radius: 4px;
  font-size: 1.2rem;
}

/* .mapboxgl-marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: red;
} */

/* Estilo CSS para los marcadores */
.marker {
  background-image: url(../../public/image/marker.png);
  /* background-image: url(../../public/icons/whereabout.svg); */
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.marker.fill-red {}

.info-box {
  position: absolute;
  margin: 20px;
  width: 25%;
  top: 0;
  bottom: 20px;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
}





/************************
LAYOUT PARA MAPS
*************************/
/* .main-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 280px;
  height: 100%;
  left: 0;
  text-align: center;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 0 6px rgb(0 0 0 / 50%);
  transition: transform 0.3s ease-in-out;
  z-index: 5;
} */

/* .main-menu.hiddenByTransition {
  transform: translate3d(-340px, 0, 0);
} */

.fullscreen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.paddingPage {
  padding-top: 140px;
}

@media screen and (min-width: 800px) {
  /* .main-menu {
    width: 60px;
  } */

  .main-menu.hiddenByTransition {
    transform: translate3d(0, 0, 0);
  }

  #mapView {
    display: block !important;
    width: 100%;
    z-index: 499;
    left: 0;
  }
}


/*******************/
.marker.hidden {
  opacity: 0;
}

.car-icon {
  background-image: url(../../public/icons/car_blue_icon.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
}
.car-icon.hidden {
  opacity: 0;
}

.sidebar {
  position: absolute;
  width: 350px;
  height: 100%;
  top: 0;
  left: 60px;
  overflow: hidden;
  border-right: 1px solid rgb(0 0 0 / 25%);
  background: white;
  z-index: 3;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  min-height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item {
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
  border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.listings .item .title small {
  font-weight: 400;
}

.listings .item.active .title,
.listings .item .title:hover {
  color: #8cc63f;
}

.listings .item.active {
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0 0 0 0.1);
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

/* Marker tweaks */
.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font:
    400 15px/22px 'Source Sans Pro',
    'Helvetica Neue',
    sans-serif;
  padding: 0 !important;
  width: 180px;
}

.mapboxgl-popup-content h3 {
  background: #91c949;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

.mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

.mapboxgl-popup-content div {
  padding: 10px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-content {
  margin-top: 15px;
}

.mapboxgl-popup-anchor-top>.mapboxgl-popup-tip {
  border-bottom-color: #91c949;
}