.list-route {
    margin: 0;
    padding: 0;
    display: block;
    height: calc(100% - 130px);
    overflow: scroll;
    background-color: white;
}

.list-route li {
    display: block;
    margin: 0;
    padding: 0;

}

.list-route .route-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: #f5f6f7;
    position: relative;
}

.list-route .route-body {
    display: block;
    width: 100%;
    height: 60px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

/* .list-route .route-title::before {
    content: '';
    position: absolute;
    z-index: 1000;
    width: 34px;
    height: 23px;
    top: -23px;
    background-color: red;
} */

.list-route .route-body .route-colored-line-container::after {
    content: '';
    position: absolute;
    z-index: 1000;
    width: 34px;
    height: 23px;
    top: 37px;
    background-color: #fff;
}

.route-list-label {
    height: 100%;
    margin-left: 16px;
    padding: 0px 8px;
    line-height: 40px;
    font-size: 12px;
    font-weight: 900;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.route-list-label {
    height: 100%;
    margin-left: 16px;
    padding: 0px 8px;
    line-height: 40px;
    font-size: 12px;
    font-weight: 900;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #1832FB;
}

.color-bright {
    color: #fff;
}

.route-list-longname {
    flex: 1;
    padding-left: 10px;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.route-list-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 40px;
}

.route-list-alert-icon {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    /* background-image: url(../img/alert_icon.png); */
}

.route-colored-line-container {
    position: absolute;
    width: 34px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1;
}

.route-colored-line-container .route-colored-line {
    width: 2px;
    height: 100%;
    margin-left: -1px;
    display: block;
    position: absolute;
    left: 50%;
    background-color: rgb(24, 50, 251);
}

.route-colored-line-container .route-colored-stop {
    width: 14px;
    height: 14px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    top: 50%;
    margin: -7px 0 0 -7px;
    display: block;
    position: absolute;
    left: 50%;
    background-color: #fff;
    border-color: rgb(24, 50, 251);
}

.route-list-directions {
    display: block;
    padding-right: 50px;
    line-height: 60px;
    margin-left: 34px;
    color: #142840;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-route .route-body::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 34px;
    right: 20px;
    bottom: 0;
    background-color: #f5f6f7;
}
.list-route li.active,
.list-route li.active .route-body .route-colored-line-container::after,
.list-route li:hover,
.list-route li:hover .route-body .route-colored-line-container::after {
    background-color: #f5f6f7;
    transition: background-color .5s;
}

@media screen and (min-width: 800px) {
    .list-route {
        height: calc(100% - 100px);
        overflow: auto;
    }

    .route-colored-line-container {
        background-color: transparent;
    }



}